.inactive {position: fixed; left: -9999px !important; top: -9999px !important;}

* {padding: 0px; border: none; margin: 0px; list-style-type: none; box-sizing: content-box;}
body {overflow: hidden;}
span, li {display: inline-block;}

/* All CSS classes used to style gameplay elements are ratio based of 120x120 being worth 10vhx10vh or 10vhx10vw*/


#top {
    position: relative;

    height: 30vh;
    max-height: 30vh;

    width: 200vw;
    max-width: 200vw;
}
.top-bg-normal {background-image: url(./assets/bgs/top-normal.png); background-size: contain; background-repeat: repeat-x; z-index: 0;}
#top-overlay  {position: absolute; width: inherit; height: inherit; background-image: url(./assets/bgs/top-pass.png); background-size: contain; background-repeat: repeat-x; z-index: 0;}


#don {}


#soul-bar        {position: fixed; top: 22.75vh; left: 47.5vw; height: 7.5vh; width: 50vw; background-image: url(./assets/ui/soul-bar.png); background-size: 100% 100%; background-repeat: no-repeat; z-index: 1;}
#soul-completion {position: relative; left: 0; height: 7.5vh; width: 44.25vw; background-image: url(./assets/ui/soul-completion.png); background-size: 100% 100%; background-repeat: no-repeat; clip-path: rect(0 78% 100% 0); z-index: 2;} /* Change clip-path (2nd value) to set percentage soul 77.6% = completetion*/
#soul-indicator  {position: relative; left: calc(50vw - 4.667vw - 1.13vw); top: -12vh; height: calc(1.9 * 6vh); width: 6vw; background-image: url(./assets/ui/soul-indicator.png); background-size: 100% 100%;}
#soul-indicator-complete {position: relative; left: -2.5vw; top: -13.5vh; height: calc(1.9 * 15vh); width: 15vw; background-image: url(./assets/ui/soul-indicator-completed.png); background-size: 100% 100%; z-index: -1;}

.soul-completed  {position: relative; left: 0; height: 7.5vh; width: 44.25vw; background-image: url(./assets/ui/soul-completed.png); background-size: 100% 100%; z-index: 2;}




#middle {
    height: 25vh;
    max-height: 25vh;

    width: 100vw;
    max-width: 100vw;
}

#ui-bg   {position: relative; left: 0px; height: 25vh; width: 25vw; background-image: url(./assets/bgs/ui.png); background-size: 100% 100%; background-repeat: no-repeat; z-index: 4;}
#score   {position: absolute; display: flex; flex-direction: row; justify-content: right; padding-right: 9.5vw; top: 18.5vh; right: 0; height: 5vh; width: 15vw; background-image: url(./assets/ui/score-bg.png); background-size: 100% 100%; z-index: 5;}
#combo   {display: flex; flex-direction: row; justify-content: center; position: absolute; top: 6vh; right: 0.5vw; height: 20vh; width: 10vw; z-index: 6;}

#drum    {position: absolute; top: 3vh; right: 0.5vw; height: 20vh; width: 10vw; background-image: url(./assets/ui/drum.png); background-size: 100% 100%; z-index: 5;}
#drum-lr {position: absolute; top: 3vh; right: 0.5vw; height: 20vh; width: 10vw; background-image: url(./assets/ui/rim-left.png); background-size: 100% 100%; z-index: 6;}
#drum-rr {position: absolute; top: 3vh; right: 0.5vw; height: 20vh; width: 10vw; background-image: url(./assets/ui/rim-right.png); background-size: 100% 100%; z-index: 6;}
#drum-lc {position: absolute; top: 3vh; right: 0.5vw; height: 20vh; width: 10vw; background-image: url(./assets/ui/center-left.png); background-size: 100% 100%; z-index: 6;}
#drum-rc {position: absolute; top: 3vh; right: 0.5vw; height: 20vh; width: 10vw; background-image: url(./assets/ui/center-right.png); background-size: 100% 100%; z-index: 6;}

/* Hitzone and HitObject positioning is fucked and I should probably hanged for this */
/* Future me, please do past youself justice and never touch a keyboard again */
.hit-object-red-base {position: absolute; margin-left: calc(-12.5vh / 2 - 8.75vh - 50px); top: 5.5vh; width: 12.5vh; height: 12.5vh; background-image: url(./assets/notes/red-base.png); background-size: 100% 100%; z-index: 3;}
.hit-object-big-red-base {position: absolute; margin-left: calc(-17.5vh / 2 - 8.75vh - 50px); top: 3.5vh; width: 17.5vh; height: 17.5vh; background-image: url(./assets/notes/big-red-base.png); background-size: 100% 100%; z-index: 3;}

.hit-object-blue-base {position: absolute; margin-left: calc(-12.5vh / 2 - 8.75vh - 50px); top: 5.5vh; width: 12.5vh; height: 12.5vh; background-image: url(./assets/notes/blue-base.png); background-size: 100% 100%; z-index: 3;}
.hit-object-big-blue-base {position: absolute; margin-left: calc(-17.5vh / 2 - 8.75vh - 50px); top: 3.5vh; width: 17.5vh; height: 17.5vh; background-image: url(./assets/notes/big-blue-base.png); background-size: 100% 100%; z-index: 3;}


.ui-0-score {position: relative; margin: 0 -0.15vw; left: 0; top: 0.25vh; height: 4.5vh; width: 1.900vw; background-image: url(./assets/ui/num-0-score.png); background-size: 100% 100%;}
.ui-1-score {position: relative; margin: 0 -0.15vw; left: 0; top: 0.25vh; height: 4.5vh; width: 1.564vw; background-image: url(./assets/ui/num-1-score.png); background-size: 100% 100%;}
.ui-2-score {position: relative; margin: 0 -0.15vw; left: 0; top: 0.25vh; height: 4.5vh; width: 2.011vw; background-image: url(./assets/ui/num-2-score.png); background-size: 100% 100%;}
.ui-3-score {position: relative; margin: 0 -0.15vw; left: 0; top: 0.25vh; height: 4.5vh; width: 1.900vw; background-image: url(./assets/ui/num-3-score.png); background-size: 100% 100%;}
.ui-4-score {position: relative; margin: 0 -0.15vw; left: 0; top: 0.25vh; height: 4.5vh; width: 2.123vw; background-image: url(./assets/ui/num-4-score.png); background-size: 100% 100%;}
.ui-5-score {position: relative; margin: 0 -0.15vw; left: 0; top: 0.25vh; height: 4.5vh; width: 1.900vw; background-image: url(./assets/ui/num-5-score.png); background-size: 100% 100%;}
.ui-6-score {position: relative; margin: 0 -0.15vw; left: 0; top: 0.25vh; height: 4.5vh; width: 1.900vw; background-image: url(./assets/ui/num-6-score.png); background-size: 100% 100%;}
.ui-7-score {position: relative; margin: 0 -0.15vw; left: 0; top: 0.25vh; height: 4.5vh; width: 2.011vw; background-image: url(./assets/ui/num-7-score.png); background-size: 100% 100%;}
.ui-8-score {position: relative; margin: 0 -0.15vw; left: 0; top: 0.25vh; height: 4.5vh; width: 2.011vw; background-image: url(./assets/ui/num-8-score.png); background-size: 100% 100%;}
.ui-9-score {position: relative; margin: 0 -0.15vw; left: 0; top: 0.25vh; height: 4.5vh; width: 1.900vw; background-image: url(./assets/ui/num-9-score.png); background-size: 100% 100%;}

.ui-0-gold {position: relative; top: -2vh; height: 8.5vh; width: 3.265vw; background-image: url(./assets/ui/num-0-gold.png); background-size: 100% 100%; z-index: 10;}
.ui-1-gold {position: relative; top: -2vh; height: 8.5vh; width: 2.435vw; background-image: url(./assets/ui/num-1-gold.png); background-size: 100% 100%; z-index: 10;}
.ui-2-gold {position: relative; top: -2vh; height: 8.5vh; width: 3.420vw; background-image: url(./assets/ui/num-2-gold.png); background-size: 100% 100%; z-index: 10;}
.ui-3-gold {position: relative; top: -2vh; height: 8.5vh; width: 3.213vw; background-image: url(./assets/ui/num-3-gold.png); background-size: 100% 100%; z-index: 10;}
.ui-4-gold {position: relative; top: -2vh; height: 8.5vh; width: 3.524vw; background-image: url(./assets/ui/num-4-gold.png); background-size: 100% 100%; z-index: 10;}
.ui-5-gold {position: relative; top: -2vh; height: 8.5vh; width: 3.265vw; background-image: url(./assets/ui/num-5-gold.png); background-size: 100% 100%; z-index: 10;}
.ui-6-gold {position: relative; top: -2vh; height: 8.5vh; width: 3.213vw; background-image: url(./assets/ui/num-6-gold.png); background-size: 100% 100%; z-index: 10;}
.ui-7-gold {position: relative; top: -2vh; height: 8.5vh; width: 3.316vw; background-image: url(./assets/ui/num-7-gold.png); background-size: 100% 100%; z-index: 10;}
.ui-8-gold {position: relative; top: -2vh; height: 8.5vh; width: 3.316vw; background-image: url(./assets/ui/num-8-gold.png); background-size: 100% 100%; z-index: 10;}
.ui-9-gold {position: relative; top: -2vh; height: 8.5vh; width: 3.213vw; background-image: url(./assets/ui/num-9-gold.png); background-size: 100% 100%; z-index: 10;}


.ui-0 {position: relative; top: -2vh; height: 8.5vh; width: 3.265vw; background-image: url(./assets/ui/num-0.png); background-size: 100% 100%; z-index: 10;}
.ui-1 {position: relative; top: -2vh; height: 8.5vh; width: 2.435vw; background-image: url(./assets/ui/num-1.png); background-size: 100% 100%; z-index: 10;}
.ui-2 {position: relative; top: -2vh; height: 8.5vh; width: 3.420vw; background-image: url(./assets/ui/num-2.png); background-size: 100% 100%; z-index: 10;}
.ui-3 {position: relative; top: -2vh; height: 8.5vh; width: 3.213vw; background-image: url(./assets/ui/num-3.png); background-size: 100% 100%; z-index: 10;}
.ui-4 {position: relative; top: -2vh; height: 8.5vh; width: 3.524vw; background-image: url(./assets/ui/num-4.png); background-size: 100% 100%; z-index: 10;}
.ui-5 {position: relative; top: -2vh; height: 8.5vh; width: 3.265vw; background-image: url(./assets/ui/num-5.png); background-size: 100% 100%; z-index: 10;}
.ui-6 {position: relative; top: -2vh; height: 8.5vh; width: 3.213vw; background-image: url(./assets/ui/num-6.png); background-size: 100% 100%; z-index: 10;}
.ui-7 {position: relative; top: -2vh; height: 8.5vh; width: 3.316vw; background-image: url(./assets/ui/num-7.png); background-size: 100% 100%; z-index: 10;}
.ui-8 {position: relative; top: -2vh; height: 8.5vh; width: 3.316vw; background-image: url(./assets/ui/num-8.png); background-size: 100% 100%; z-index: 10;}
.ui-9 {position: relative; top: -2vh; height: 8.5vh; width: 3.213vw; background-image: url(./assets/ui/num-9.png); background-size: 100% 100%; z-index: 10;}

/*
These widths need to be modified. width has to be in vw since this needs to width * (screen_height / screen_width)
*/

#game-field {position: relative; left: 25vw; top: -25vh; height: 25vh; width: 75vw; background-image: url(./assets/bgs/game-field.png); background-size: contain; background-repeat: repeat-x; z-index: 0;}
#hit-zone   {position: relative; left: calc(100px - 17.5vh / 2); top: 3.5vh; height: 17.5vh; width: 17.5vh; background-image: url(./assets/ui/hitzone.png); background-size: 100% 100%; z-index: 2;}
#hit-zone-kiai {position: absolute; left: calc(100px - 26vh / 2); top: -12vh; height: 35vh; width: 35vh; z-index: 3;  background-image: url(./assets/ui/hitzone-kiai-bg.png); background-size: 100% 100%; z-index: 1;}

/*500px - calc(35vh * calc(1vw / 1vh)) /   calc(100px - 25vh)   -8.70vw */
.judgement {position: absolute; left: inherit; top: inherit; height: 35vh; width: 35vh; z-index: 3; transform: translate(-100px, -12.25vh);}
.judgement-big {position: absolute; left: inherit; top: inherit; height: 42vh; width: 42vh; z-index: 3; transform: translate(calc(-150px), -14.7vh);}

#bottom {
    height: 45vh;
    max-height: 45vh;

    width: 100vw;
    max-width: 100vw;
}